<mat-toolbar class="button-gap app-toolbar" color="primary">

  <button [routerLink]=[paths.HOME] mat-button
          routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button [routerLink]=[paths.RESOURCES_RESERVATION] mat-button
          routerLinkActive="active-link">
    <mat-icon>devices</mat-icon>
    <span>Resource Reservation</span>
  </button>

  <button *ngIf="isAdmin()"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLink]=[paths.ADMIN_RESOURCES]
          mat-button
          routerLinkActive="active-link">
    <mat-icon>devices</mat-icon>
    <span>Admin Resources</span>
  </button>

  <button *ngIf="isAdmin()"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLink]=[paths.ADMIN_RESOURCES_RESERVATION]
          mat-button
          routerLinkActive="active-link">
    <mat-icon>thumb_up</mat-icon>
    <span>Resource Approvals</span>
  </button>

  <button *ngIf="isAdmin()"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLink]=[paths.ADMIN_WORKSPACE]
          mat-button
          routerLinkActive="active-link">
    <mat-icon>location_city</mat-icon>
    <span>Workspace</span>
  </button>

  <button *ngIf="isAdmin()"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLink]=[paths.ADMIN_WORKSPACE_RESERVATION]
          mat-button
          routerLinkActive="active-link">
    <mat-icon>thumb_up</mat-icon>
    <span>Workspace Approvals</span>
  </button>

  <span class="spacer"></span>

  <span style="padding-right: 10px">{{getLoggedUserName()}}</span>

  <button (click)="logout()" mat-button>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>

</mat-toolbar>
