<div class="resource-header">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput
           placeholder="Ex. laptop">
  </mat-form-field>

  <button (click)="createNewResource()" color="primary" mat-raised-button>
    <mat-icon>add</mat-icon>
    <span>New resource</span>
  </button>
</div>


<table [dataSource]="dataSource" class="mat-elevation-z8 my-mat-table" mat-table
       matSort>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
    <td *matCellDef="let row" mat-cell> {{row.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
    <td *matCellDef="let row" mat-cell> {{row.description}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Amount</th>
    <td *matCellDef="let row" mat-cell> {{row.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="backgroundColor">
    <div class="text-center">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Color</th>
      <td *matCellDef="let row" mat-cell><input #ignoredInput
                                                [(colorPicker)]="row.backgroundColor"
                                                [cpIgnoredElements]="[ignoredInput]"
                                                [cpOutputFormat]="'hex'"
                                                [style.background]="row.backgroundColor"
                                                class="color-box"
                                                readonly
                                                value="Event example"/>
      </td>
    </div>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell>Edit</th>
    <td *matCellDef="let row" mat-cell>
      <button (click)="updateRow(row)" color="primary" mat-raised-button>Edit
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell>Delete</th>
    <td *matCellDef="let row" mat-cell>
      <button (click)="deleteRow(row)" color="warn" mat-raised-button>Delete
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  <!-- Row shown when there is no matching data. -->
  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">No data matching the filter
      "{{input.value}}"
    </td>
  </tr>
</table>
