.my-mat-table {
    width: 100%;
}

td, th {
    justify-content: center !important;
}

.mat-column-backgroundColor, .mat-column-amount, .mat-column-edit, .mat-column-delete {
    text-align: center;
}

.mat-column-edit {
    width: 32px;
    text-align: center;
    font-weight: bold;
}

.mat-column-delete {
    width: 32px;
    text-align: center;
    font-weight: bold;
}

.color-box {
    color: white;
    text-align: center;
    border-radius: 15px
}

button {
    width: 40%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
