body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --header-size: 64px;
  --primary-color: #3f51b5 ;
}

.fc-event-title {
  font-weight: bold;
}

.root-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.content-container {
  overflow-y: auto;
  padding: 1rem;
}

mat-dialog-actions {
  justify-content: center !important;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  min-width: 300px;
}

.perfect-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.resource-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.mat-datepicker-content {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.1411764706), 0 1px 10px rgba(0, 0, 0, 0.1215686275);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8705882353);
}

.mat-calendar-body-selected {
  background-color: var(--primary-color);
  color: #fff;
}

.mat-calendar-body-cell-content {
  border: none !important;
}
