/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --header-size: 64px;
}

.root-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.content-container {
  overflow-y: auto;
  padding: 1rem;
}

mat-dialog-actions {
  justify-content: center !important;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  min-width: 400px;
  max-height: 200px;
  margin-bottom: 10px;
}


