<h1 mat-dialog-title>{{ data ? 'Update Resource' : 'Create Resource' }}</h1>

<form [formGroup]="resourceForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name"/>
      <mat-error
          *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input formControlName="amount" matInput placeholder="Amount"
             type="number"/>
      <mat-error
          *ngIf="resourceForm.get('amount').invalid && resourceForm.get('amount').touched">
        Amount is required.
      </mat-error>
    </mat-form-field>

    <div style="display:flex; gap: 10px; margin-bottom: 20px">
      <button #ignoredButton (click)="toggle=!toggle" color="primary"
              mat-raised-button>
        Change color
      </button>
      <input #ignoredInput
             (colorPickerChange)="onChangeColor($event)"
             [(colorPicker)]="backgroundColor"
             [(cpToggle)]="toggle"
             [cpIgnoredElements]="[ignoredButton, ignoredInput]"
             [cpOutputFormat]="'hex'"
             [style.background]="backgroundColor"
             class="color-box"
             readonly
             value="Event example"/>
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput
                placeholder="Description"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button (click)="onCancelClicked()" color="accent" mat-raised-button>Cancel
    </button>
    <button (click)="onSaveClicked()" color="primary"
            mat-raised-button>{{data ? 'Update' : 'Save'}}
    </button>
  </mat-dialog-actions>
</form>
